@font-face {
    font-family: 'Vazir';
    src: url("../Font/Vazir-Medium.ttf") format('truetype');
    src: url("../Font/Vazir-Medium.woff") format('woff');
    src: url("../Font/Vazir-Medium.woff2") format('woff2');
}

* {
    font-family: 'Vazir';
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}