<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ادمین</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-rtl.min.css" />
    <link rel="stylesheet" href="~/SmartRouting.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin.css" />
    <link href="~/css/persiandatepicker-default.css" rel="stylesheet" />
</head>
<body class="rtl">
    <div>
        <nav id="navbar">
            <div class="pt-4">
                <div class="my-1"><a href="/Admin" class="text-black B-Nav btn text-decoration-none">داشبورد</a></div>
                <div class="my-1"><a href="/Admin/NavyFuel" class="text-black B-Nav btn text-decoration-none">نوع سوخت ناوگان</a></div>
                <div class="my-1"><a href="/Admin/NavyRoom" class="text-black B-Nav btn text-decoration-none">نوع اتاق ناوگان</a></div>
                <div class="my-1"><a href="/Admin/NavyType" class="text-black B-Nav btn text-decoration-none">نوع ناوگان</a></div>
                <div class="my-1"><a href="/Admin/NavyOwner" class="text-black B-Nav btn text-decoration-none">نوع مالکیت ناوگان</a></div>
                <div class="my-1"><a href="/Admin/NavyInfo" class="text-black B-Nav btn text-decoration-none">ناوگان</a></div>
                <div class="my-1"><a href="/Admin/Drivers" class="text-black B-Nav btn text-decoration-none">رانندگان شرکت لجستیک</a></div>
                <div class="my-1"><a href="/Admin/TerminalInfo" class="text-black B-Nav btn text-decoration-none">محل خدمت رانندگان</a></div>
                <div class="my-1"><a href="/Admin/DriverShift" class="text-black B-Nav btn text-decoration-none">شیفت کاری رانندگان</a></div>
                <div class="my-1"><a href="/Admin/UserRoles" class="text-black B-Nav btn text-decoration-none">نقش کاربران</a></div>
                <div class="my-1"><a href="/Admin/Users" class="text-black B-Nav btn text-decoration-none">کاربران</a></div>
                <div class="my-1"><a href="/Admin/DossierDetail" class="text-black B-Nav btn text-decoration-none">اطلاعات روزانه حواله‌ها</a></div>

            </div>
        </nav>
    </div>
    <div>
        <main id="main" class="mt-4">
            <article>
                @RenderBody()
            </article>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Admin.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $('collapse').collapse('show');
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>